.container {
  height: 1000 px;
  padding-bottom: 100px;
}
.container img {
  height: 300px;
  width: 500px;
  float: left;
  margin-right: 100px;
  margin-left: 100px;
}
.container .description {
  margin-top: 70px;
  display: flex;
  flex-direction: column;
}
.container .description h2 {
  font-size: 4rem;
  font-family: "Playfair Display", sans-serif;
  font-weight: 200;
  padding-bottom: 50px;
  padding-top: 50px;
}
.container .description p {
  font-size: 1rem;
  font-family: "Montserrat", sans-serif;
  padding-right: 100px;
}
