@import url("https://fonts.googleapis.com/css2?family=Playfair+Display+SC&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;1,100;1,200;1,300;1,400&family=Playfair+Display:ital,wght@0,400;0,500;0,600;0,700;0,800;0,900;1,400;1,500;1,600;1,700&display=swap");
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@300&display=swap');

html {
  background-color: #0f0f0f;
}

.pagebanner {
  background-color: #e6e6e6;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  height: 500px;
}

@media screen and (min-width: 500px) {
  .pagebanner h2 {
    padding-top: 25px;
    color: #0f0f0f;
    font-size: 3.75em;
    font-family: "Playfair Display", sans-serif;
    font-weight: 200;
    border-bottom: 1px solid #c5a880;
    margin-left: 25%;
    margin-right: 25%;
    padding-bottom: 40px;
  }
}
@media screen and (max-width: 500px) {
  .pagebanner h2 {
    padding-top: none;
    color: #0f0f0f;
    font-size: 3.75em;
    font-family: "Playfair Display", sans-serif;
    font-weight: 200;
    border-bottom: 1px solid #c5a880;
    margin-left: 25%;
    margin-right: 25%;
    padding-bottom: 50px;
  }
}
.pagebanner p {
  color: #0f0f0f;
  font-family: "Montserrat", sans-serif;
  font-size: 1em;
  text-transform: uppercase;
  letter-spacing: 1.5px;
  padding-top: 50px;
  padding-right: 25%;
  padding-left: 25%;
}

#espresso {
  background-color: #0f0f0f;
  height: 900px;
}

#espresso h1 {
  text-transform: uppercase;
  color: #e6e6e6;
  text-align: center;
  padding-top: 100px;
  padding-bottom: 25px;
  padding-left: 10%;
  padding-right: 10%;
  font-family: "Montserrat", sans-serif;
  font-weight: 300;
  font-size: 2.5rem;
}

@media screen and (max-width: 700px) {
  .swiper-container {
    height: 60%;
    width: 100%;
    overflow: hidden;
  }
  .swiper-slide{
    position: relative;
  }
#espressopic {
    background: linear-gradient(0deg, rgba(15,15,15,1) 0%, transparent 25%,rgba(15,15,15,1) 75%, rgba(15,15,15,1) 100%), url(./Images/espresso.jpg);
    background-size: cover;
    position: absolute;
    float: none;
    width: 100%;
    height: 100%;
    z-index: -10;
  }
#americanopic{
  background: linear-gradient(0deg, rgba(15,15,15,1) 0%, transparent 25%,rgba(15,15,15,1) 75%, rgba(15,15,15,1) 100%), url(./Images/pexels-karolina-grabowska-4195612.jpg);
    background-size: cover;
    position: absolute;
    float: none;
    width: 100%;
    height: 100%;
    z-index: -10;
}
#cappuccinopic{
  background: linear-gradient(0deg, rgba(15,15,15,1) 0%, transparent 25%,rgba(15,15,15,1) 75%, rgba(15,15,15,1) 100%), url(./Images/banner1.jpg);
    background-size: cover;
    position: absolute;
    float: none;
    width: 100%;
    height: 100%;
    z-index: -10;
}
  .swiper-slide h3{
    position: absolute;
    margin-top: 50px;
    margin-left: 25px;
    text-transform: uppercase;
    font-family: "Playfair Display SC", sans-serif;
    font-weight: 300;
    font-size: 1rem;
    color: #e6e6e6;
    z-index: 1;
  }
  .swiper-slide h2 {
    position: absolute;
    margin-top: 75px;
    margin-left: 25px;
    text-transform: uppercase;
    font-family: "Noto Sans KR", sans-serif;
    font-weight: 300;
    font-size: 2.5rem;
    color: #e6e6e6;
    z-index: 1;
  }
  .swiper-slide p {
    margin-top: 135px;
    margin-left: 25px;
    margin-right: 50%;
    text-transform: uppercase;
    font-family: "Noto Sans KR", sans-serif;
    font-weight: 300;
    font-size: 1rem;
    color: #e6e6e6;
  }
}
.swiper-pagination{
  height: 30px;
}
.swiper-pagination-bullet {
  width: 10px;
  height: 10px;
  background-color: #e6e6e6;
  opacity: 1;
}
.swiper-pagination-bullet-active {
  background: #532e1c;
}
.swiper-button-next, .swiper-button-prev{
  padding-left: 10px;
  padding-right: 10px;
  color: white;
  opacity: .7;
}
