@import url("https://fonts.googleapis.com/css2?family=Playfair+Display+SC&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;1,100;1,200;1,300;1,400&family=Playfair+Display:ital,wght@0,400;0,500;0,600;0,700;0,800;0,900;1,400;1,500;1,600;1,700&display=swap");
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@300&display=swap');

html {
  background-color: #e6e6e6;
}

h1 {
  text-transform: uppercase;
  color: #ecb390;
  text-align: center;
  padding-top: 100px;
  padding-bottom: 50px;
  padding-left: 10%;
  padding-right: 10%;
  font-family: "Playfair Display", sans-serif;
  font-weight: 300;
  font-size: 2.5rem;
}

#espresso {
  background-color: #0f0f0f;
}

@media screen and (max-width: 700px) {
  .swiper-container {
    height: 600px;
    width: 100%;
    overflow: hidden;
  }
  .swiper-slide{
    position: relative;
  }
#espressopic {
    background: linear-gradient(0deg, transparent 0%, transparent 25%,rgba(15,15,15,1) 75%, rgba(15,15,15,1) 100%), url(./Images/espresso.jpg);
    background-size: cover;
    position: absolute;
    float: none;
    width: 100%;
    height: 100%;
    z-index: -10;
  }
#americanopic{
  background: linear-gradient(0deg, rgba(15,15,15,1) 0%, transparent 25%,rgba(15,15,15,1) 75%, rgba(15,15,15,1) 100%), url(./Images/pexels-karolina-grabowska-4195612.jpg);
    background-size: cover;
    position: absolute;
    float: none;
    width: 100%;
    height: 100%;
    z-index: -10;
}
#cappuccinopic{
  background: linear-gradient(0deg, rgba(15,15,15,1) 0%, transparent 25%,rgba(15,15,15,1) 75%, rgba(15,15,15,1) 100%), url(./Images/banner1.jpg);
    background-size: cover;
    position: absolute;
    float: none;
    width: 100%;
    height: 100%;
    z-index: -10;
}
  .swiper-slide h3{
    position: absolute;
    margin-top: 50px;
    margin-left: 25px;
    text-transform: uppercase;
    font-family: "Playfair Display SC", sans-serif;
    font-weight: 300;
    font-size: 1rem;
    color: #e6e6e6;
    z-index: 1;
  }
  .swiper-slide h2 {
    position: absolute;
    margin-top: 75px;
    margin-left: 25px;
    text-transform: uppercase;
    font-family: "Noto Sans KR", sans-serif;
    font-weight: 300;
    font-size: 2.5rem;
    color: #e6e6e6;
    z-index: 1;
  }
  .swiper-slide p {
    margin-top: 135px;
    margin-left: 25px;
    margin-right: 50%;
    text-transform: uppercase;
    font-family: "Noto Sans KR", sans-serif;
    font-weight: 300;
    font-size: 1rem;
    color: #e6e6e6;
  }
}
@media screen and (min-width: 700px){

  .swiper-container {
    height: 600px;
    width: 100%;
    overflow: hidden;
  }
  .swiper-slide{
    position: relative;
  }
#espressopic {
    background: linear-gradient(0deg, transparent 0%, transparent 15%,rgba(15, 15, 15, 0.747) 75%, rgba(15,15,15,1) 100%), url(./Images/pexels-di-bella-coffee-1233528.jpg);
    background-size: cover;
    position: absolute;
    background-position-y: bottom;
    float: none;
    width: 100%;
    height: 100%;
    z-index: -10;
  }
#americanopic{
  background: linear-gradient(0deg, rgba(15,15,15,1) 0%, transparent 15%,rgba(15,15,15,1) 75%, rgba(15,15,15,1) 100%), url(./Images/pexels-karolina-grabowska-4195602.jpg);
    background-size: cover;
    background-position-y: center;
    position: absolute;
    float: none;
    width: 100%;
    height: 100%;
    z-index: -10;
}
#cappuccinopic{
  background: linear-gradient(0deg, rgba(15,15,15,1) 0%, transparent 15%,rgba(15,15,15,1) 75%, rgba(15,15,15,1) 100%), url(./Images/pexels-chevanon-photography-302899\ \(1\).jpg);
    background-size: cover;
    background-position-y: center;
    position: absolute;
    float: none;
    width: 100%;
    height: 100%;
    z-index: -10;
}
  .swiper-slide h3{
    position: absolute;
    margin-top: 50px;
    margin-left: 50px;
    text-transform: uppercase;
    font-family: "Playfair Display SC", sans-serif;
    font-weight: 300;
    font-size: 1rem;
    color: #e6e6e6;
    z-index: 1;
  }
  .swiper-slide h2 {
    position: absolute;
    margin-top: 75px;
    margin-left: 50px;
    text-transform: uppercase;
    font-family: "Noto Sans KR", sans-serif;
    font-weight: 300;
    font-size: 2.5rem;
    color: #e6e6e6;
    z-index: 1;
  }
  .swiper-slide p {
    margin-top: 135px;
    margin-left: 50px;
    margin-right: 50%;
    text-transform: uppercase;
    font-family: "Noto Sans KR", sans-serif;
    font-weight: 300;
    font-size: 1rem;
    color: #e6e6e6;
  }
}

#filtercoffee{
  background-color: #0f0f0f;
  height: auto;
}
#filtercoffee .container{
  display: flex;
  justify-content: space-evenly;
  padding-bottom: 100px;
  padding-top: 100px;
}
#filtercoffee .fcd{
  width: 500px;
  height: auto;
  color: #e6e6e6;
}
#filtercoffee h2{
  font-size: 3rem;
  font-weight: 300;
  font-family: "Noto Sans KR",sans-serif;
  text-transform: uppercase;
  padding-top: 25px;
  padding-bottom: 50px;
}
#filtercoffee h2 span{
  font-family: "Playfair Display",sans-serif;
}
#filtercoffee h3{
  padding-top: 50px;
  text-transform: uppercase;
}
#filtercoffee .fcd p{
  text-transform: uppercase;
  font-size: 1rem;
}
#filtercoffee .fcbutton.container{
  padding-top: 75px;
  padding-left: 50px;
  padding-right: 50px;
}
#filtercoffee .fcbutton a{
  font-family: "Noto Sans KR",sans-serif;
  font-size: 1.5rem;
  text-decoration: none;
  text-transform: uppercase;
  color: #e6e6e6;
  border: 1px solid white;
  padding-left: 50px;
  padding-right: 50px;
  padding-top: 10px;
  padding-bottom: 10px;
}
@media(max-width: 800px){
  #filtercoffee{
    height: auto;
    width: 100%;
  }
  #filtercoffee h1{
    padding-bottom: 100px;
  }
  #filtercoffee .container{
    display: flex;
    flex-direction: column;
    padding-left: 0px;
    padding-right: 0px;
    text-align: center;
    padding-top: 0px;
    padding-bottom: 50px;
  }
  #filtercoffee .image{
    padding-left: 0px;
  }
  #filtercoffee .image img{
    width: 100%;
    height: auto;
  }
  #filtercoffee .fcd{
    width: 100%;
    height: 100%;
    padding-left: 0px;
    padding-right: 0px;
  }
  #filtercoffee .fcd h2{
    padding-left: 5%;
    padding-right: 10%;
    padding-bottom: 25px;
    text-align: left;
    font-size: 3rem;
  }
  #filtercoffee .fcd h3{
    padding-left: 5%;
    padding-right: 10%;
    padding-bottom: 25px;
    text-align: left;
  }
  #filtercoffee .fcd p{
    padding-left: 5%;
    padding-right: 10%;
    text-align: left;
  }
  #filtercoffee .fcbutton.container{
    padding-top: 0px;
    padding-left: 0px;
    padding-right: 0px;
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
  }
  #filtercoffee .fcbutton{
    padding-top: 25px;
    padding-bottom: 25px;
    text-align: center;
  }

  #filtercoffee .fcbutton a{
    font-size: 1rem;
    padding-left: 50px;
    padding-right: 50px;
  }
}

/*Tea Start*/
#tea h1{
color: #295939;
padding-bottom: 100px;
}

#tea .teaimages{
  width: 100%;
  text-align: center;
  padding-bottom: 100px;
}
#tea .teaimagesdiv{
  display: inline-block;
  width: 300px;
  padding: 10px;
  padding-bottom: 30px;
}
#tea .teaimagesdiv img{
  width: 300px;
}
#tea .teaimagesdiv h3{
  font-family: "Noto Sans KR", sans-serif;
  font-weight: 500;
  font-size: 1.5rem;
  color: #295939;
  text-transform: uppercase;
  text-align: left;
  padding-top: 10px;
  padding-left: 5px;
}
#tea .teaimagesdiv p{
  font-family: "Montserrat", sans-serif;
  font-weight: 300;
  text-align: left;
  padding-top: 10px;
  padding-left: 5px;
}
/*Tea End*/

/*Others Start*/
#others h1{
  color: #0f0f0f;
}
/*Others End*/

.swiper-pagination{
  height: 30px;
}
.swiper-pagination-bullet {
  width: 10px;
  height: 10px;
  background-color: #e6e6e6;
  opacity: 1;
}
.swiper-pagination-bullet-active {
  background: #fde8cd;
}
.swiper-button-next, .swiper-button-prev{
  padding-left: 10px;
  padding-right: 10px;
  color: white;
  opacity: .7;
  border: none;
}
