@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;1,100;1,200;1,300;1,400&family=Playfair+Display:ital,wght@0,400;0,500;0,600;0,700;0,800;0,900;1,400;1,500;1,600;1,700&display=swap");

nav {
  height: 5rem;
  width: 100%;
  display: flex;
  position: fixed;
  z-index: 10;
  justify-content: space-between;
  transition: 0.5s ease-out;
  border-bottom: 1px solid rgba(255, 255, 255, 0.25);
}
nav.sticky {
  height: 4rem;
  background: #c5a880;
  box-shadow: 0 5px 20px rgba(0, 0, 0, 0.05);
  border-bottom: none;
}

/*Styling instagram link*/
nav .insta {
  filter: invert();
  padding-left: 100px;
  padding-right: 100px;
  padding-top: 1.6rem;
  transition: 0.5s ease-out;
}
nav.sticky .insta {
  filter: none;
  padding-top: 1.1rem;
}

/*Styling Links*/
.nav-links {
  display: flex;
  list-style: none;
  justify-content: space-evenly;
  align-items: center;
  text-transform: uppercase;
  padding-left: 30px;
  padding-right: 30px;
  border-left: 1px solid rgba(255, 255, 255, 0.25);
  border-right: 1px solid rgba(255, 255, 255, 0.25);
}
nav.sticky .nav-links {
  border-left: none;
  border-right: none;
}
nav .nav-links li a {
  font-family: "Montserrat", sans-serif;
  font-weight: 400;
  font-size: 0.9em;
  color: #f2f5f7;
  text-decoration: none;
  align-items: center;
  text-transform: uppercase;
  transition: 0.5s ease-out;
  margin-left: 20px;
  margin-right: 20px;
}
nav.sticky .nav-links li a {
  color: #0f0f0f;
}

/*Animating links on hover*/
.nav-links:before,
.nav-links:after {
  transition: all 0.2s;
}
.nav-links li a:hover {
  color: #c5a880;
}
nav.sticky .nav-links li a:hover {
  color: #e6e6e6;
}
nav.stroke .nav-links li {
  position: relative;
}

/*Styling Hamburger Icon*/
.hamburger div {
  width: 30px;
  height: 3px;
  background: #f2f5f7;
  margin: 5px;
  transition: all 0.3s ease;
}
.hamburger {
  display: none;
}

/*Stying for small screens*/
@media screen and (max-width: 800px) {
  nav {
    position: fixed;
    height: 4rem;
    z-index: 3;
    border-bottom: none;
  }
  .logo {
    display: none;
  }
  .hamburger {
    display: block;
    position: absolute;
    cursor: pointer;
    right: 5%;
    top: 50%;
    transform: translate(-5%, -50%);
    z-index: 2;
    transition: all 0.7s ease;
  }
  .nav-links {
    position: fixed;
    background: #c5a880;
    height: 100vh;
    width: 100%;
    flex-direction: column;
    clip-path: circle(50px at 90% -20%);
    -webkit-clip-path: circle(50px at 90% -10%);
    transition: all 1s ease-out;
    pointer-events: none;
    padding-left: 0px;
    padding-right: 0px;
  }
  .nav-links.open {
    clip-path: circle(1000px at 90% -10%);
    -webkit-clip-path: circle(1000px at 90% -10%);
    pointer-events: all;
  }
  .nav-links li {
    opacity: 0;
  }
  .nav-links li:nth-child(1) {
    transition: all 0.5s ease 0.1s;
  }
  .nav-links li:nth-child(2) {
    transition: all 0.5s ease 0.2s;
  }
  .nav-links li:nth-child(3) {
    transition: all 0.5s ease 0.3s;
  }
  .nav-links li:nth-child(4) {
    transition: all 0.5s ease 0.4s;
  }
  .nav-links li:nth-child(5) {
    transition: all 0.5s ease 0.5s;
  }
  li.fade {
    opacity: 1;
  }
  /*making sure the link color stays same when scrolling by
  accident during vertical screen mode*/
  nav.sticky .nav-links li a {
    color: #f2f5f7;
  }
  .nav-links li a:hover {
    color: #0f0f0f;
  }
  nav.sticky .nav-links li a:hover {
    color: #0f0f0f;
  }
}
/*Animating Hamburger Icon on Click*/
.toggle .line1 {
  transform: rotate(-45deg) translate(-5px, 6px);
}
.toggle .line2 {
  transition: all 0.7s ease;
  width: 0;
}
.toggle .line3 {
  transform: rotate(45deg) translate(-5px, -6px);
}
