@import url("https://fonts.googleapis.com/css2?family=Noto+Serif+KR:wght@200;300;400;500;600;700;900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Nanum+Gothic:wght@400;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Nanum+Myeongjo&display=swap");

h4 {
  font-family: "Nanum Myeongjo", sans-serif;
}

.nav-link {
  font-size: 1rem !important;
  font-weight: 400 !important;
  font-family: "Nanum Gothic", sans-serif !important;
  margin: 0 20px;
}

.section-reservation {
  font-size: medium !important;
  font-family: "Nanum Gothic", sans-serif;
  letter-spacing: 1px;
  border-color: #c39e5c !important;
}
.section-reservation:hover {
  background: #c39e5c !important;
}
.discoverheading {
  text-align: center;
  margin-top: 100px;
}
.discoverheading h1 {
  font-family: "Nanum Myeongjo", sans-serif;
  font-size: 2.5rem;
  margin-bottom: 0px !important;
}
.discoverheading2 {
  font-family: "Nanum Myeongjo", sans-serif !important;
  font-size: 2.5rem;
}
.discoverheading3 {
  font-family: "Nanum Myeongjo", sans-serif !important;
  font-size: 2rem;
}
.discoverheading2 .span1 {
  border-bottom: 2px solid #c39e5c !important;
  padding-bottom: 5px;
}
.discoverheading2 .span0 {
  border-top: 2px solid #91091e !important;
  padding-top: 5px;
}
.featuretitle {
  font-family: "Nanum Myeongjo", sans-serif;
  font-size: 1.5rem;
}
.featuretitle span {
  font-size: 1.25rem;
}
.dishesheading {
  font-family: "Nanum Myeongjo", sans-serif;
  font-weight: 500;
  font-size: 2.5rem;
  margin-top: 100px;
  margin-bottom: 25px;
}
.dishesheading1 {
  font-family: "Nanum Myeongjo", sans-serif;
  font-weight: 500;
  font-size: 2.5rem;
  margin-top: 150px;
  margin-bottom: 25px;
}
.menubutton {
  display: flex;
  justify-content: center;
  margin-top: 45px;
}
#recommended1 {
  margin-top: -50px;
}
