.typesofbeans .container{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

.typesofbeans a{
    text-decoration: none;
    font-family: "Noto Sans KR", sans-serif;
    font-weight: 200;
    font-size: 1.5rem;
    color: grey;
    padding-top: 50px;
    padding-bottom: 50px;
}
.hb{
    text-align: center;
}
.hbimagesdiv{
    display: flexbox;
}
.hbinfo{
    display: flexbox;
    height: 271px;
}