
.hb{
    text-align: center;
}
.hbimagesdiv{
    display: flexbox;
}
.hbinfo{
    display: flexbox;
    height: 271px;
}

#myDIV {
    text-align: center;
    padding-top: 50px;
    padding-bottom: 50px;
}

.btn {
    margin-bottom: 15px;
    display: inline-block;
    font-family: "Noto Sans KR", sans-serif;
    letter-spacing: .125em;
    border: none;
    outline: none;
    padding: 15px 20px;
    position: relative;
    background: none;
    font-size: 1rem;
    transition: 0.5s;
}

.btn:after {
    background: none repeat scroll 0 0 transparent;
    bottom: 0;
    content: "";
    display: block;
    height: 2px;
    left: 50%;
    position: absolute;
    background: #0f0f0f;
    transition: width 0.3s ease 0s, left 0.3s ease 0s;
    width: 0;
}

/* Style the active class, and buttons on mouse-over */
.active:after,
.btn:hover:after {
    width: 60%;
    left: 20%;
}

@media (max-width:800px){
    #wrapper{
        display: inline-block;
        text-align: center;
    }
   #hbcontent{

    }
    #houseblend img{
        width: 100%;
        height: auto;
        margin-bottom: -5px;
    }
    #houseblend h2{
        font-family: "Noto Sans KR", sans-serif;
        font-size: 2rem;
        font-weight: 200;
    }
    #houseblend p{
    }
    #singleorigin{
        display: inline-block;
        text-align: center;
    }
    #singleorigin img{
        width: 300px;
        height: 200px;
        padding-bottom: 20px;
    }
}
@media (min-width:800px){
    #wrapper{
        text-align: center;
    }
    #hbcontent{
        display: inline-block;
        text-align: left;
        padding-left: 30px;
        padding-right: 30px;
        padding-bottom: 75px;
    }
    #houseblend img{
        width: 500px;
        height: 300px;
    }
    #houseblend h2{
        padding-top: 40px;
        max-width: fit-content;
        padding-left: 10px;
        font-family: "Noto Sans KR", sans-serif;
        font-size: 3rem;
        font-weight: 300;
    }
    #houseblend p{
        max-width: fit-content;
        padding-top: 20px;
        padding-left: 15px;
        padding-right: 15px;
        font-family: "Noto Sans KR", sans-serif;
        font-size: 1rem;
        font-weight: 300;
    }

    #wrapper{
        text-align: center;
    }
    #hbcontent{
        display: inline-block;
        text-align: left;
        padding-left: 30px;
        padding-right: 30px;
        padding-bottom: 75px;
    }
    #supercoffee img{
        width: 300px;
        height: 300px;
    }
    #supercoffee h2{
        padding-top: 40px;
        max-width: fit-content;
        padding-left: 10px;
        font-family: "Noto Sans KR", sans-serif;
        font-size: 2rem;
        font-weight: 300;
    }
    #supercoffee p{
        max-width: fit-content;
        padding-top: 20px;
        padding-left: 15px;
        padding-right: 15px;
        font-family: "Noto Sans KR", sans-serif;
        font-size: 1rem;
        font-weight: 300;
    }
}


.soimages{
    width: 100%;
    text-align: center;
    padding-top: 25px;
    padding-bottom: 50px;
  }
.sodiv{
    display: inline-block;
    width: 250px;
    padding: 10px;
    padding-bottom: 30px;
  }
  .sodiv img{
      width: 250px;
  }
.sodiv h3{
    font-family: "Noto Sans KR", sans-serif;
    font-weight: 500;
    font-size: 1.5rem;
    color: #1c2b2d;
    text-transform: uppercase;
    text-align: left;
    padding-top: 10px;
    padding-left: 5px;
  }
.sodiv p{
    font-family: "Montserrat", sans-serif;
    font-weight: 300;
    text-align: left;
    padding-top: 10px;
    padding-left: 5px;
  }

